html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.users__table {
  mat-header-row {
    min-height: 36px;
  }
  mat-row {
    min-height: 32px;
  }
}

.loading {
  padding: 40px 0;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.mat-paginator-range-label {
  display: none;
}

// SnackBar Colors
.success-snackbar {
  background: #28A745 !important;
  min-height: 80px !important;
}

.warning-snackbar {
  background: #ffc107 !important;
  min-height: 80px !important;
  color: #343a40 !important;
}

.error-snackbar {
  background: #DC3545 !important;
  min-height: 80px !important;
}
